/*
Organización: por propiedad.
  Una propiedad CSS es usada por los elemento html
  incorporados en el selector
alcance: el archivo html
Descripción: Los selectores deben moverse a la propiedad que se requiera.
  Usted es libre de escribir en el html las clases, o usar los selectores
  que crea conveniente. Si una propiedad tiene varios selectores y desea
  modificar una de ellas, entonces cree una nueva línea con el nuevo
  valor de la propiedad, luego mueva el selector a esa nueva línea.
  Se permite herencia. Los selectores tienen que ser descriptivos. Estas
  son independientes de la estructura del HTML
*/
:root{
  --paleVioletRed9934: hsl(330, 67%, 56%);
  --indigo: hsl(274, 100%, 26%);
  --whiteSmoke: hsl(225, 17%, 95%);
  --royalBlue9993:hsl(223, 51%, 59%);
  --cornflowerBlue9993: hsl(223, 85%, 71%);
  --khaki9996: hsl(52.571, 100%, 79%);
  --red: hsl(0, 100%, 50%);
  --dimGray9999: hsl(0, 0%, 40%);
  --darkGray: hsl(0, 0%, 30%);
  --white: hsl(0, 0%, 100%);
  font-size: 16px;
}

body{background-color: var(--khaki9996);}
.aplicacion{background-color: var(--white);}
.aplicacion{height: 90vh;}
.aplicacion__opt-ventana{background-color: var(--red);}
svg{width: 25px;height: 25px;}
.aplicacion__numero{background-color: var(--royalBlue9993);}
.inf-ge__informacion{background-color:hsla(230, 18%, 64%, 0.13);}
.aplicacion__numero{color: white;}
.contenido__resumeme{background-image: linear-gradient(
  45deg,
  hsl(287deg 88% 62%) 0%,
  hsl(293deg 84% 60%) 8%,
  hsl(300deg 81% 59%) 17%,
  hsl(306deg 78% 57%) 25%,
  hsl(310deg 83% 57%) 33%,
  hsl(314deg 87% 57%) 42%,
  hsl(318deg 92% 58%) 50%,
  hsl(321deg 93% 58%) 58%,
  hsl(324deg 96% 59%) 67%,
  hsl(327deg 98% 59%) 75%,
  hsl(355deg 99% 62%) 83%,
  hsl(23deg 99% 64%) 92%,
  hsl(51deg 100% 66%) 100%
);}
.aplicacion__opt-ventana{box-shadow: 24px 0 0 0 hsl(44, 92%, 65%), 48px 0 0 0 hsl(123, 54%, 59%);}
.aplicacion__cabecera{border-bottom: 1px solid black;}

/*
Organización: por objetos.
Descripción: se agrupa los selectores por bloques con sus respectivos
  elementos. Los bloques son independientes de otros bloques.
  se evita que los bloques hereden las propiedades de sus padres de
  manera tácita, es decir se debe hacer explícita.
  De arriba hacia abajo. En caso de que se tenga sub elementos, volver
  los pixeles base.
  Se puede añadir paddins y margins, y otros espacios.
  Son dependientes del html.
*/


body{margin:0;}
body{min-width: 400px;}
body{box-sizing:border-box;}


/*aplicacion*/
.aplicacion{border-radius: 1rem;}

.aplicacion__cabecera{
  display: flex;
  height: 58px;
  align-items: center;
  white-space: nowrap;
}

.aplicacion__opt-generales{display: flex;}

.aplicacion__busqueda{display: flex;align-items: center;}

.aplicacion__perfil{display: flex; align-items: center;}

.aplicacion__notificacion{display: flex;align-items: center;}

.aplicacion__numero{width: 16px; height: 16px;}
.profile-img{width: 32px; height: 32px;}
.aplicacion__numero, .profile-img{
  border-radius: 50%;
  flex-shrink:0;
  text-align: center;
}


/*Elemento círculos de ventana*/
.aplicacion__opt-ventana{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 190px;
  flex-shrink:0;
}

/*items de opciones generales*/
.opt_generales__enlace{
  text-decoration: none;
  padding: 20px 30px;
}

.contenido__resumeme{
  display: flex;
  border-radius:14px;
  padding:20px 24px;
  align-items:center;  
}
.inf-ge__edad,.inf-ge__carrera,.inf-ge__lugar{
  display: flex;
  list-style: none;
}

@media screen and (max-width:500px){
  .aplicacion__opt-ventana, .opt_generales__nombre, 
  .opt_generales__trabajos, .opt_generales__descubre,
  .aplicacion__opciones-personales{display: none;}
  body{padding: .8rem}
  
  .aplicacion__opciones-y-contenido{padding: 2rem 1rem;}
}

@media screen and (max-width: 750px){
  .aplicacion__opt-ventana, .opt_generales__nombre, 
  .aplicacion__opciones-personales{display: none;}
}

@media screen and (max-width: 1000px){
  .opt_generales__nombre, 
  .aplicacion__opciones-personales{display: none;}
}

@media screen and (max-width:1250px){

}